$themes: (
  light: (
    body-bg-color:#ffffff,
    content-bg-color:#515168,
    nav-item-bg-color:#645FC6,
    nav-item-active-color:#6058B2,
    text-title-color:#000000,
    text-grey-color:#717785,
    border-color:#2A2A36,
    card-tag-purple-color:#8472F1,
    card-tag-green-color:#6BE0AC,
    column-bg-color:#23232F,
    column-text-grey-color:#888C99,
  ),
  dark: (
    body-bg-color:#2C2C38,
    content-bg-color:#21212D,
    nav-item-bg-color:#645FC6,
    nav-item-active-color:#6058B2,
    text-title-color:#ffffff,
    text-grey-color:#717785,
    border-color:#2A2A36,
    card-tag-purple-color:#8472F1,
    card-tag-green-color:#6BE0AC,
    column-bg-color:#23232F,
    column-text-grey-color:#888C99,
  ),
);


